/* hide names and/or values*/
.btnReload{
    visibility: hidden;
}

body {
  margin: 0;
  padding: 0;
}

#timestamp{
  white-space: nowrap;
  position: relative;
  z-index: 100;
}

.btnRadarControl{
  padding-right: 8px; padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;

}

#divMap{
  text-align: center;
}

@media only screen and (max-width: 1400px) {
  #mapid{top: 99px !important; left: 0; bottom: 0; right: 0;}
}

@media only screen and (max-width: 400px) {
  #mapid{top: 150px !important; left: 0; bottom: 0; right: 0;}
}
